* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: black;
    color: pink;
    font-size: large;
    margin: auto;
}
button {
    /* Replay button*/
    display: flex;
    margin-top: 200px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
img {
    width: auto;
    height: 200px;
    padding: 10px;
    border: 10px;
    border-style: groove;
    justify-content: center;
}
header,
.imagery,
#again {
    display: flex;
    justify-content: center;
    color: yellow;
}
header {
    margin: 30px;
    font-size: larger;
}
.prompt {
    margin: 200px;
    height: 30px;
    width: 100px;
}